@font-face {
    font-family: 'Product-Sans';
    src: url(fonts/ProductSans-Thin.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "Product-Sans";
    src: url(fonts/ProductSans-Light.ttf);
    font-weight:300;
}
@font-face {
    font-family: "Product-Sans";
    src: url(fonts/ProductSans-Medium.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Product-Sans";
    src: url(fonts/ProductSans-Regular.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Product-Sans";
    src: url(fonts/ProductSans-Black.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Product-Sans";
    src: url(fonts/ProductSans-Bold.ttf);
    font-weight: 700;
}